.md-button-flat
  min-width: 64px
  padding: 8px
  padding-left: 16px
  padding-right: 16px
  border-radius: 2px
  background-color: white
  transition: all 0.2s
  cursor: pointer
  border: none
  font-size: 16px

  &:hover
    background-color: rgba(0, 0, 0, 0.12)
    transition: all 0.2s
