.md-drawer
  position: fixed
  height: 100%
  width: 320px
  z-index: 150
  top: 0
  background-color: white
  overflow: auto
  padding: 0
  margin: 0

.md-drawer__hidden
  left: -320px
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  transition: all 0.2s cubic-bezier(0.4, 0.0, 1, 1)

.md-drawer__shown
  left: 0
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.16)
  transition: all 0.2s cubic-bezier(0.0, 0.0, 0.2, 1)
