$material-blue-500: #2196F3

@import 'colors'
@import 'header'
@import 'textfield'
@import 'table'
@import 'buttons'
@import 'other'
@import 'drawer'
@import 'dialog'
@import 'textfield'
@import 'checkbox'
@import 'hamburgers/hamburgers.scss'

html, body
  padding: 0
  margin: 0
  height: 100.1%
  overflow: hidden

body
  position: relative

.desktop
  @media screen and (max-width: 768px)
    display: none !important

  @media screen and (min-width: 1200px)
    display: flex !important

.mobile
  @media screen and (max-width: 768px)
    display: inherit !important

  @media screen and (min-width: 1200px)
    display: none !important

.header-content-container
  display: flex
  padding-left: 16px
  padding-right: 16px
  align-items: center

  h3
    margin-left: 16px
    line-height: 23px
    height: 22px

  i
    cursor: pointer

  i:last-child
    margin-left: 16px

#shade
  z-index: 4
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.27)

#shade-full
  top: 0
  z-index: 25
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.27)

.shade-shown
  visibility: visible
  opacity: 1
  transition: all 0.2s

.shade-transitioning
  visibility: visible
  opacity: 1

.shade-hidden
  visibility: hidden
  opacity: 0
  transition: all 0.2s

.title-wrapper
  display: flex
  align-items: center

.main-content-wrapper
  width: 100%
  height: calc(100% - 64px)
  display: flex
  flex-grow: 1

.drawer-title
  margin-left: 32px

.day
  height: 100%
  width: 20%

  &:first-child
    border-right: 2px solid black

  &:nth-child(1n+3)
    border-left: 2px solid black

  @media screen and (max-width: 768px)
    border: none !important

.monday

.tuesday

.wednesday

.thursday

.friday

.day-header
  width: 100%
  height: 32px
  display: flex
  justify-content: center
  border-bottom: 1px solid black
  padding-bottom: 16px

  h3
    height: 32px
    line-height: inherit !important

#add-button
  z-index: 3

#add-dialog
  input
    width: 100%
    margin-top: 20px
  label
    width: 100%
    margin-top: 20px
  .add-dialog-buttons
    position: absolute
    display: flex
    bottom: 16px
    justify-content: flex-end
    width: calc(100% - 48px)
    button
      color: $material-blue-500
