$material-blue-500: #2196F3

@import 'colors'
@import 'header'
@import 'textfield'
@import 'table'
@import 'buttons'
@import 'other'
@import 'drawer'
@import 'hamburgers/hamburgers.scss'

html, body
  padding: 0
  margin: 0
  height: 100%
  overflow: hidden

.header-content-container
  display: flex
  padding-left: 16px
  padding-right: 16px
  align-items: center

  h3
    margin-left: 16px
    line-height: 24px

  i
    cursor: pointer

  i:last-child
    margin-left: 16px

#shade
  z-index: 2
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.16)

.shade-shown
  visibility: visible
  opacity: 1
  transition: all 0.2s

.shade-hidden
  visibility: hidden
  opacity: 0
  transition: all 0.2s

.title-wrapper
  display: flex
  align-items: center

.drawer-title
  margin-left: 32px
